{% extends 'base.html' %}
    {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 formcontainer">
          <div class="center">
            <h1>Download Your Video</h1>
              <p> Your file has been converted successfully! Download Now</p>
              <audio controls>
              <source src="{{ abscpath }}" type="audio/ogg">
              <source src="{{ abscpath }}" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
            <a href="{{ abscpath }}"  download>Download</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
