{% extends 'base.html' %}
    {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 formcontainer">
            <div class="formbox">
                <form action="/download/" method="post" role="form">
                  {% csrf_token %}

                    <div class="form-group">
                        Video URL:<input type="text" name="url" value='https://www.youtube.com/watch?v=B7bqAsxee4I' size="64" maxlength="256" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="radio" name="audio-video" value="A" checked="checked" onclick="enbleDisableExt()"> <span>Convert to Audio</span>
                        <input type="radio" name="audio-video" value="V" onclick="enbleDisableExt()"> <span>Convert to Video</span>
                    </div>

                    <p> Select Audio/Video Format</p>
                    <div  class="form-group" id = "audio-ext">
                        <select name = "audio-ext"   class="form-control">
                            <option value=".mp3" selected="selected">.mp3</option>
                            <option value=".wma" >.wma</option>
                            <option value=".wav" >.wav</option>
                            <option value=".acc" >.acc</option>
                            <option value=".ogg" >.ogg</option>
                            <option value=".m4a" >.m4a</option>
                            <option value=".flac" >.flac</option>
                        </select>
                    </div>

                    <div  class="form-group disabled" id = "video-ext">
                        <select name = "video-ext"   class="form-control">
                            <option value=".mp4" selected="selected">.mp4</option>
                            <option value=".avi" >.avi</option>
                            <option value=".flv" >.flv</option>
                            <option value=".mpg" >.mpg</option>
                            <option value=".wmv" >.wmv</option>
                            <option value=".m4v" >.m4v</option>
                            <option value=".mov" >.mov</option>
                        </select>
                    </div>
                    <div class="form-group"><button class="btn convertbtn">Convert Now</button></div>
                </form>
                <div style="min-height:10px;"><br><hr></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
